<%= form_for(@hardware) do |f| %>
  <% if @hardware.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hardware.errors.count, "error") %> prohibited this hardware from being saved:</h2>

      <ul>
      <% @hardware.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :width %><br>
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :ram %><br>
    <%= f.number_field :ram %>
  </div>
  <div class="field">
    <%= f.label :gps %><br>
    <%= f.check_box :gps %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
