<h1>Listing hardwares</h1>

<table>
  <thead>
    <tr>
      <th>Width</th>
      <th>Height</th>
      <th>Ram</th>
      <th>Gps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hardwares.each do |hardware| %>
      <tr>
        <td><%= hardware.width %></td>
        <td><%= hardware.height %></td>
        <td><%= hardware.ram %></td>
        <td><%= hardware.gps %></td>
        <td><%= link_to 'Show', hardware %></td>
        <td><%= link_to 'Edit', edit_hardware_path(hardware) %></td>
        <td><%= link_to 'Destroy', hardware, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hardware', new_hardware_path %>
