<p id="notice"><%= notice %></p>

<p>
  <strong>Width:</strong>
  <%= @hardware.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @hardware.height %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @hardware.ram %>
</p>

<p>
  <strong>Gps:</strong>
  <%= @hardware.gps %>
</p>

<%= link_to 'Edit', edit_hardware_path(@hardware) %> |
<%= link_to 'Back', hardwares_path %>
